<!-- <html>
    <head>
        <title>
            HolidayIQ - Admin Universal Authentication</title>
            <meta name="robots" content="noindex, nofollow"/>
            <meta name="cache-control" content="cache"/>
            <meta name="copyright" content="HolidayIQ.com">
            <meta name="author" content="HolidayIQ.com">    
            <link rel="icon" href="https://c1.hiqcdn.com/discovery/resources/images/mobile-site/iPhone-app-icon-114x114-v1.png" type="image/png" sizes="16x16">
    </head>
<body>
    <br>
<center><h1>Vendor Portal</h1></center>
<br>
<center>
        <img src="https://c1.hiqcdn.com/images/tourism/static/styles/svgs/hiq_logo.svg" alt="HolidayIQ" title="HolidayIQ" style="width:200px;">
    <form class="form-horizontal" action="/vendor/pythonsign" method="get" name="form2">
	<table width="25%" border="0">
        <p style="font-family:helvetica;font-size:20px;">Please connect your gmail id with HolidayIQ</p>
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" value="Authenticate"/></td>
        </tr>
    </table>
    
</form>
</center>
</body>
</html> -->


<html lang="en">
  <head>
    <title>HolidayIQ - Admin Universal Authentication</title>
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="cache-control" content="cache"/>
    <meta name="copyright" content="HolidayIQ.com">
    <meta name="author" content="HolidayIQ.com">    
    <link rel="icon" href="https://c1.hiqcdn.com/discovery/resources/images/mobile-site/iPhone-app-icon-114x114-v1.png" type="image/png" sizes="16x16">
  </head>
  <body>
    <br><br>
    <center>
      <img src="https://c1.hiqcdn.com/images/tourism/static/styles/svgs/hiq_logo.svg" alt="HolidayIQ" title="HolidayIQ" style="width:200px;">
      <br>
      <p style="font-family:helvetica;font-size:20px;">Please Connect your Gmail id with HolidayIQ</p>
      <a href="/vendor/pythonsign">
	<span class="myButton" id="myButton" style="box-shadow: rgb(230, 122, 115) 0px 39px 0px -24px inset; background-color: rgb(228, 104, 93); border-radius: 4px; border: 1px solid rgb(255, 255, 255); display: inline-block; cursor: pointer; color: rgb(255, 255, 255); font-family: Arial; font-size: 20px; padding: 15px 32px; text-decoration: none; text-shadow: rgb(178, 62, 53) 0px 1px 0px;">
	  Click to Authenticate
	</span>
      </a>
    </center>
  </body>
</html>
