<html>
    <head>
        <title>
            Vendor Registration
        </title>
    </head>
<body>
<h1>Vendor Registration</h1>
<form action="/vendor/python" method="post" name="form2">
	<table width="25%" border="0">
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" />Vendor Sign up</td>
        </tr>
	</table>
</form>
<br>
<form action="/vendor/pythonsign" method="post" name="form2">
	<table width="25%" border="0">
        <tr> 
            <td></td>
            <td><input type="submit" name="Submit" />Vendor Sign in</td>
        </tr>
	</table>
</form>
</body>
</html>