<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<style>
    .errorContainer{
        padding: 30px;
    }
</style>
<body>
    <div class="container errorContainer">
        <div class="alert alert-danger">
            <%= data.errorMessage %>
        </div>
    </div>
</body>
</html>